<div class="container pt-5">
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">RUT</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Nivel</th>
                </tr>
            </thead>
            <tbody id="cuerpo"></tbody>

        </table>
    </div>
</div>